.transaction-page {
    .transaction-table {
        border: 1px solid rgb(141, 141, 141);
        h1 {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .switch-trs-form {
                cursor: pointer;
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url(../../../assets/icons/change-form-btn.png);
                position: relative;
                transition: transform 0.20s ease;
                &:hover {
                    opacity: .7;
                }
            }
            .switch-trs-form-active {
                transform: rotate(-180deg);
            }
        }
    }
}

@media (min-width: 1000px) 
{
    .transaction-page {
        width: 490px;
        min-width: 490px;
        padding: 10px 0px 0px 20px;
        .transaction-table {
            width: 100%;
            padding: 10px 0px 10px 0px;
            padding: 5px;
            h1 {
                font-size: 17px;
                line-height: 17px;
                .switch-trs-form {
                    height: 30px;
                    min-height: 30px;
                    width: 30px;
                    min-width: 30px;
                    background-size: 14px 14px;
                    &:active {
                        background-size: 10px 10px;
                    }
                }
            }
        }
    }
}