.product-page {
    width: 100%;
    .page-head {
        border-bottom: 1px solid rgb(141, 141, 141);
        display: flex;
        align-items: center;
        justify-content: space-between;
        .page-title {
            display: block;
            width: 50%;
        }
        .page-option {
            display: flex;
            p {
                font-weight: bold;
                cursor: pointer;
                &:hover {
                    color: grey;
                }
            }
        }
    }
    .table-head {
        .table-row {
            display: flex;
            align-items: center;
            .table-data {
                p {
                    font-weight: bold;
                }
            }
        }
    }
    .product-table {
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: rgb(247, 247, 247);
        &::-webkit-scrollbar { width: 10px; }
        .product-action {
            height: 100%;
            width: 100%;
            position: fixed;
            left: 0px;
            top: 0px;
            z-index: 5;
            background: rgba($color: #000000, $alpha: .5);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.20s all ease;
            padding-top: 100px;
            visibility: hidden;
            opacity: 0;
            .box {
                -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.75);
                background: white;
                h1 {
                    display: block;
                    border-bottom: 1px solid rgb(141, 141, 141);
                }
                p {
                    display: block;
                    width: 100%;
                    span {
                        display: inline-block;
                    }
                    .spacer {
                        width: 100%;
                        display: block;
                    }
                }
                .buttons {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    button {
                        width: 32%;
                        outline: none;
                        background: none;
                        cursor: pointer;
                        border: none;
                        color: white;
                        &:hover {
                            opacity: .9;
                        }
                    }
                    .action-update-btn {
                        background: rgb(91, 160, 145);
                    }
                    .action-delete-btn {
                        background: rgb(173, 93, 120);
                    }
                    .action-cancel-btn {
                        background: rgb(104, 149, 167);
                    }
                }
            }
        }
        .product-action-active {
            visibility: visible;
            opacity: 1;
            padding-top: 0px;
        }
        .table-row {
            width: 100%;
            display: flex;
            align-items: center;
            &:hover {
                background-color: rgb(238, 238, 238);
            }
            &:active {
                background-color: rgb(177, 221, 250);
            }
            .table-data {
                padding: 5px 0px 5px 0px;
                color: rgb(66, 66, 66);
            }
        }
        .empty-table {
            color: rgb(117, 117, 117);
            display: block;
            text-align: center;
        }
    }
}

@media (min-width: 1000px) 
{
    .product-page {
        padding: 0px 20px 0px 20px;
        .page-head {
            padding-bottom: 5px;
            margin-bottom: 10px;
            .page-title {
                font-size: 17px;
                span {
                    font-size: 14px;
                    font-weight: normal;
                    padding-left: 5px;
                }
            }
            .page-option {
                p {
                    font-size: 14px;
                    line-height: 14px;
                    &:active {
                        font-size: 13px;
                    }
                }
            }
        }
        .table-head {
            margin-bottom: 5px;
            .table-row {
                .table-data {
                    p {
                        font-size: 14.50px;
                        line-height: 14.50px;
                    }
                }
                .nomor {
                    width: 60px;
                }
                .nama {
                    width: 330px;
                }
                .satuan {
                    width: 110px;
                }
                .harga-pokok {
                    width: 140px;
                }
                .harga-jual {
                    width: 140px;
                }
                .stok {
                    width: 70px;
                }
                .terjual {
                    width: 70px;
                }
            }
        }
        .product-table {
            height: 150px;
            max-height: 150px;
            .product-action {
                .box {
                    width: 300px;
                    min-width: 300px;
                    padding: 10px;
                    border-radius: 7px;
                    margin-bottom: 10px;
                    h1 {
                        font-size: 17px;
                        line-height: 17px;
                        padding-bottom: 6px;
                        margin-bottom: 10px;
                    }
                    p {
                        height: 100px;
                        min-height: 100px;
                        font-size: 15px;
                        span {
                            width: 60px;
                            min-width: 60px;
                        }
                        .spacer {
                            height: 5px;
                            min-height: 5px;
                        }
                    }
                    .buttons {
                        button {
                            height: 28px;
                            min-height: 28px;
                            font-size: 13px;
                            border-radius: 3px;
                            &:active {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .table-row {
                min-height: 30px;
                .table-data {
                    cursor: pointer;
                    p {
                        font-size: 14.50px;
                        line-height: 14.50px;
                    }
                }
                .nomor {
                    width: 60px;
                }
                .nama {
                    width: 330px;
                }
                .satuan {
                    width: 110px;
                }
                .harga-pokok {
                    width: 140px;
                }
                .harga-jual {
                    width: 140px;
                }
                .stok {
                    width: 70px;
                }
                .terjual {
                    width: 70px;
                }
            }
            .empty-table {
                padding-top: 60px;
                font-size: 14px;
            }
        }
    }
}